@page
@model CheckoutEPay.Pages.TransactionReport.IndexModel

@{
    ViewData["Title"] = "Transaction Report";
}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        border-color: lightgrey;
    }

    th, td {
        padding: 0px;
        text-align: center;
    }
</style>

<p>
    <a asp-page="Create"><h1>Transaction Report</h1></a>
</p>

<hr />


<table class="table" style="width: 100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthoriseCardRequestModel[0].CardHolderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthoriseCardRequestModel[0].MaskedCardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthoriseCardRequestModel[0].ExpiryMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthoriseCardRequestModel[0].ExpiryYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthoriseCardRequestModel[0].Cvv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthoriseCardRequestModel[0].Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthoriseCardRequestModel[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthoriseCardRequestModel[0].TransactionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthoriseCardRequestModel[0].MerchantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthoriseCardRequestModel[0].ProcessedDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AuthoriseCardRequestModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CardHolderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaskedCardNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryMonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cvv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MerchantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessedDate)
                </td>
            </tr>
        }
    </tbody>
</table>
